.idea
.github

Dockerfile
**/Dockerfile

Dockerfile.*
**/Dockerfile.*

docker_build.sh
**/docker_build.sh

build
**/build

.gradle
**/.gradle

.cache-loader
**/.cache-loader
node_modules
**/node_modules

deck/.cache-loader
deck/.dependabot
deck/.github
deck/.storybook
deck/app
deck/gradle
deck/halconfig
deck/test
deck/**/dist
